.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(hinh-nen-dep-65.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(hinh-nen-dep-66.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(hinh-nen-dep-69.jpg);
}
